openapi: 3.2.0
info:
  title: Edge Impulse Export API
  version: 1.0.0
  description: 'Operations tagged Export across 2 of this provider''s published API definitions: edge-impulse-openapi.yml, edge-impulse-studio-openapi-2026-09-06.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://studio.edgeimpulse.com/v1
tags:
- name: Export
paths:
  /api/{projectId}/export/get-url:
    get:
      summary: Get URL of export
      description: Get the URL to the exported artefacts for an export job of a project.
      operationId: getExportUrl
      tags:
      - Export
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportGetUrlResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/export/download:
    get:
      summary: Download export
      description: Download the data export. This'll redirect you to a signed S3 URL.
      operationId: downloadExport
      x-oauth-scopes:
      - projects:data:read
      tags:
      - Export
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '302':
          description: Signed S3 URL
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
      - OAuth2: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
components:
  schemas:
    ExportGetUrlResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - hasExport
        properties:
          hasExport:
            type: boolean
          created:
            description: Set if hasExport is true
            type: string
            format: date-time
          url:
            description: Set if hasExport is true
            type: string
    GenericApiResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
          description: Whether the operation succeeded
        error:
          type: string
          description: Optional error description (set if 'success' was false)
  parameters:
    ProjectIdParameter:
      name: projectId
      in: path
      required: true
      description: Project ID
      schema:
        type: integer
  securitySchemes:
    ApiKeyAuthentication:
      type: apiKey
      in: header
      name: x-api-key
    JWTAuthentication:
      type: apiKey
      in: cookie
      name: jwt
    JWTHttpHeaderAuthentication:
      type: apiKey
      in: header
      name: x-jwt-token
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /v1/oauth/authorize
          tokenUrl: /v1/oauth/token
          scopes:
            openid: Access to basic profile information
            email: Access to email address
            profile: Access to full profile information
        implicit:
          authorizationUrl: /v1/oauth/authorize
          scopes:
            openid: Access to basic profile information
            email: Access to email address
            profile: Access to full profile information
        password:
          tokenUrl: /v1/oauth/token
          scopes:
            openid: Access to basic profile information
            email: Access to email address
            profile: Access to full profile information
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes:
            openid: Access to basic profile information
            email: Access to email address
            profile: Access to full profile information
x-refined-from:
- edge-impulse-openapi.yml
- edge-impulse-studio-openapi-2026-09-06.yml
