openapi: 3.2.0
info:
  title: Edge Impulse Optimization API
  version: 1.0.0
  description: 'Operations tagged Optimization across 2 of this provider''s published API definitions: edge-impulse-openapi.yml, edge-impulse-studio-openapi-2026-09-06.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://studio.edgeimpulse.com/v1
tags:
- name: Optimization
paths:
  /api/{projectId}/optimize/runs:
    get:
      summary: List all tuner runs
      description: List all the tuner runs for a project.
      operationId: listTunerRuns
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTunerRunsResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/config:
    get:
      summary: Get config
      operationId: getConfig
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizeConfigResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    post:
      summary: Update config
      operationId: updateConfig
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptimizeConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/all-learn-blocks:
    get:
      summary: Get all available learn blocks
      operationId: getAllLearnBlocks
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllLearnBlocksResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/window-settings:
    get:
      summary: Get window settings
      operationId: getWindowSettings
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WindowSettingsResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/score-trial:
    post:
      summary: Score trial
      operationId: scoreTrial
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TunerCreateTrialImpulse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreTrialResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/{jobId}/create-trial:
    post:
      summary: Create trial
      operationId: createTrial
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      - $ref: '#/components/parameters/JobIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TunerCreateTrialImpulse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/{jobId}/complete-search:
    post:
      summary: Complete EON tuner run
      description: Complete EON tuner run and mark it as succesful
      operationId: completeSearch
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      - $ref: '#/components/parameters/JobIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TunerCompleteSearch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/space:
    get:
      summary: Search space
      operationId: getSpace
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizeSpaceResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/state:
    get:
      summary: Retrieves the EON tuner state
      operationId: getState
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '200':
          description: Current EON tuner state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizeStateResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    delete:
      summary: Delete EON tuner state
      description: Completely clears the EON tuner state for this project.
      operationId: deleteState
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/dsp-parameters:
    get:
      summary: Retrieves DSP block parameters
      operationId: getDspParameters
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      - $ref: '#/components/parameters/OptimizeOrganizationIdParameter'
      - $ref: '#/components/parameters/OptimizeOrganizationDspIdParameter'
      responses:
        '200':
          description: DSP parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizeDSPParametersResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/transfer-learning-models:
    get:
      summary: Retrieves available transfer learning models
      operationId: getTransferLearningModels
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '200':
          description: Block info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizeTransferLearningModelsResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/trial/{trialId}/stdout:
    get:
      summary: Get trial logs
      description: Get the logs for a trial.
      operationId: getTrialLogs
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      - $ref: '#/components/parameters/TrialIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogStdoutResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize//{jobId}/trial/{trialId}/end-trial:
    get:
      summary: End EON tuner trial
      description: End an EON trial early. This can for example be used to implement early stopping.
      operationId: endTrial
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      - $ref: '#/components/parameters/JobIdParameter'
      - $ref: '#/components/parameters/TrialIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/{tunerCoordinatorJobId}/state:
    get:
      summary: Retrieves EON tuner state for a run
      description: Retrieves the EON tuner state for a specific run.
      operationId: getTunerRunState
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      - $ref: '#/components/parameters/TunerCoordinatorJobIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizeStateResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/{tunerCoordinatorJobId}:
    post:
      summary: Update EON tuner state
      description: Updates the EON tuner state for a specific run.
      operationId: updateTunerRun
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      - $ref: '#/components/parameters/TunerCoordinatorJobIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTunerRunRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
  /api/{projectId}/optimize/all-blocks:
    get:
      summary: Get impulse blocks
      description: Lists all possible blocks that can be used in the impulse, including any additional information required by the EON tuner that the getImpulseBlocks endpoint does not return
      operationId: getAllBlocks
      x-oauth-scopes:
      - optimization:read
      tags:
      - Optimization
      parameters:
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllBlocksResponse'
      security:
      - ApiKeyAuthentication: []
      - JWTAuthentication: []
      - JWTHttpHeaderAuthentication: []
      - OAuth2: []
    servers:
    - url: https://studio.edgeimpulse.com/v1
components:
  schemas:
    TunerSpaceLearnBlock:
      type: object
      additionalProperties: true
    KerasModelMetadataMetrics:
      type: object
      required:
      - type
      - loss
      - confusionMatrix
      - report
      - onDevicePerformance
      - visualization
      - isSupportedOnMcu
      - additionalMetrics
      properties:
        type:
          description: The type of model
          $ref: '#/components/schemas/KerasModelTypeEnum'
        loss:
          type: number
          description: The model's loss on the validation set after training
        accuracy:
          type: number
          description: The model's accuracy on the validation set after training
        confusionMatrix:
          type: array
          example:
          - - 31
            - 1
            - 0
          - - 2
            - 27
            - 3
          - - 1
            - 0
            - 39
          items:
            type: array
            items:
              type: number
        report:
          type: object
          description: Precision, recall, F1 and support scores
        onDevicePerformance:
          type: array
          items:
            type: object
            required:
            - mcu
            - name
            - isDefault
            - latency
            - tflite
            - eon
            properties:
              mcu:
                type: string
              name:
                type: string
              isDefault:
                type: boolean
              latency:
                type: number
              tflite:
                type: object
                required:
                - ramRequired
                - romRequired
                - arenaSize
                - modelSize
                properties:
                  ramRequired:
                    type: integer
                  romRequired:
                    type: integer
                  arenaSize:
                    type: integer
                  modelSize:
                    type: integer
              eon:
                type: object
                required:
                - ramRequired
                - romRequired
                - arenaSize
                - modelSize
                properties:
                  ramRequired:
                    type: integer
                  romRequired:
                    type: integer
                  arenaSize:
                    type: integer
                  modelSize:
                    type: integer
              eon_ram_optimized:
                type: object
                required:
                - ramRequired
                - romRequired
                - arenaSize
                - modelSize
                properties:
                  ramRequired:
                    type: integer
                  romRequired:
                    type: integer
                  arenaSize:
                    type: integer
                  modelSize:
                    type: integer
              customMetrics:
                description: Custom, device-specific performance metrics
                type: array
                items:
                  $ref: '#/components/schemas/KerasCustomMetric'
        predictions:
          type: array
          items:
            $ref: '#/components/schemas/ModelPrediction'
        visualization:
          type: string
          enum:
          - featureExplorer
          - dataExplorer
          - none
        isSupportedOnMcu:
          type: boolean
        mcuSupportError:
          type: string
        profilingJobId:
          description: If this is set, then we're still profiling this model. Subscribe to job updates to see when it's done (afterward the metadata will be updated).
          type: integer
        profilingJobFailed:
          description: If this is set, then the profiling job failed (get the status by getting the job logs for 'profilingJobId').
          type: boolean
        additionalMetrics:
          type: array
          items:
            $ref: '#/components/schemas/AdditionalMetric'
    TunerCompleteSearch:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
    TunerCreateTrialInputBlock:
      type: object
      additionalProperties: true
    OptimizeSpaceResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - impulse
        properties:
          impulse:
            type: array
            description: List of impulses specifying the EON Tuner search space
            items:
              $ref: '#/components/schemas/TunerSpaceImpulse'
    JobStatus:
      type: string
      enum:
      - cancelled
      - creating
      - failed
      - pending
      - running
      - success
    OptimizeConfig:
      type: object
      required:
      - targetDevice
      - targetLatency
      properties:
        name:
          type: string
        targetLatency:
          type: integer
          description: Target latency in MS
          example: 0
        targetDevice:
          type: object
          required:
          - name
          description: Target device
          properties:
            name:
              type: string
              example: cortex-m4f-80mhz
            ram:
              type: integer
              example: 1024
            rom:
              type: integer
              example: 1024
        compiler:
          type: array
          items:
            type: string
        precision:
          type: array
          items:
            type: string
        trainingCycles:
          type: integer
          description: Maximum number of training cycles
          example: 5
        tuningMaxTrials:
          type: integer
          description: Maximum number of trials
          example: 2
        tuningWorkers:
          type: integer
          description: Maximum number of parallel workers/jobs
          example: 1
        initialTrials:
          type: integer
          description: Number of initial trials
          example: 5
        optimizationRounds:
          type: integer
          description: Number of optimization rounds
          example: 3
        trialsPerOptimizationRound:
          type: integer
          description: Number of trials per optimization round
          example: 3
        minMACCS:
          type: number
        maxMACCS:
          type: number
        tuningAlgorithm:
          type: string
          description: Tuning algorithm to use to search hyperparameter space
          enum:
          - random
          - hyperband
          - bayesian
          - custom
        notificationOnCompletion:
          type: boolean
        importProjectMetrics:
          type: boolean
          description: Whether to import metrics for previous EON tuner runs in the same project to accelerate the hyperparameter search process
        importResourceMetrics:
          type: boolean
          description: Whether to import resource usage (RAM/ROM/latency) metrics to accelerate the hyperparameter search process
        numImportProjectMetrics:
          type: number
          description: Number of project trials to import
        numImportResourceMetrics:
          type: number
          description: Number of resource usage trials to import
        enableSEM:
          type: boolean
          description: Enable standard error of the mean (SEM)
        accuracySEM:
          type: number
          description: Standard error of the trial accuracy mean
        latencySEM:
          type: number
          description: Standard error of the trial latency mean
        optimizationObjectives:
          type: array
          description: Hyperparameter optimization objectives and corresponding weights
          items:
            type: object
            required:
            - objective
            - label
            - weight
            properties:
              objective:
                type: string
                description: Objective to optimize
              label:
                type: string
                description: Label of the objective
              weight:
                type: number
                description: Weight of the objective
        rawObjectives:
          type: string
          description: Hyperparameter optimization objectives + weights in string format
        optimizationPrecision:
          type: string
          description: Model variant to optimize for
          enum:
          - float32
          - int8
        earlyStopping:
          type: boolean
          description: Enable trial level early stopping based on loss metrics during training
        earlyStoppingWindowSize:
          type: number
          description: Stops the EON tuner if the feasible (mean) objective has not improved over the past window_size iterations
        earlyStoppingImprovementBar:
          type: number
          description: Threshold (in [0,1]) for considering relative improvement over the best point.
        MOMF:
          type: boolean
          description: Enable Multi-fidelity Multi-Objective optimization
        verboseLogging:
          type: boolean
          description: Enable verbose logging
        disableConstraints:
          type: boolean
          description: Disable search constraints
        disableDeduplicate:
          type: boolean
          description: Disable trial deduplication
        tunerSpaceOptions:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        space:
          type: array
          description: List of impulses specifying the EON Tuner search space
          items:
            $ref: '#/components/schemas/TunerSpaceImpulse'
        searchSpaceTemplate:
          type: object
          description: Search space template
          required:
          - identifier
          properties:
            identifier:
              type: string
              description: Search space template identifier
              enum:
              - speech_keyword
              - speech_continuous
              - audio_event
              - audio_continuous
              - visual
              - motion_event
              - motion_continuous
              - audio_syntiant
              - object_detection_bounding_boxes
              - object_detection_centroids
              - visual_ad
            classification:
              type: boolean
              description: Whether a classification block should be added to the search space
            anomaly:
              type: boolean
              description: Whether an anomaly block should be added to the search space
            regression:
              type: boolean
              description: Whether a regression block should be added to the search space
        searchSpaceSource:
          type: object
          description: Search space source
          required:
          - type
          properties:
            type:
              type: string
              description: Search space source type
              enum:
              - template
              - run
              - impulse
            templateTitle:
              type: string
              description: Search space source template title
            runTitle:
              type: string
              description: Search space source run title
            impulseTitle:
              type: string
              description: Search space source impulse title
    WindowSettings:
      type: object
      required:
      - windowSizeMs
      - windowIncreaseMs
      - windowIncreasePct
      - zeroPadPercentage
      - windowCount
      - balanceScore
      - valid
      properties:
        windowSizeMs:
          type: number
        windowIncreaseMs:
          type: number
        windowIncreasePct:
          type: number
        zeroPadPercentage:
          type: number
        windowCount:
          type: integer
        balanceScore:
          type: number
        valid:
          type: boolean
    TransferLearningModel:
      type: object
      required:
      - name
      - shortName
      - description
      - hasNeurons
      - hasDropout
      - type
      - author
      - blockType
      properties:
        name:
          type: string
        shortName:
          type: string
        abbreviatedName:
          type: string
        description:
          type: string
        hasNeurons:
          type: boolean
        hasDropout:
          type: boolean
        defaultNeurons:
          type: integer
        defaultDropout:
          type: number
        defaultLearningRate:
          type: number
        defaultTrainingCycles:
          type: number
        hasImageAugmentation:
          type: boolean
        type:
          $ref: '#/components/schemas/KerasVisualLayerType'
        learnBlockType:
          $ref: '#/components/schemas/LearnBlockType'
        organizationModelId:
          type: integer
        implementationVersion:
          type: integer
        repositoryUrl:
          type: string
          description: URL to the source code of this custom learn block.
        author:
          type: string
        blockType:
          $ref: '#/components/schemas/BlockType'
        customParameters:
          type: array
          items:
            $ref: '#/components/schemas/DSPGroupItem'
        displayCategory:
          $ref: '#/components/schemas/BlockDisplayCategory'
    UpdateTunerRunRequest:
      type: object
      properties:
        name:
          type: string
    GenericApiResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
          description: Whether the operation succeeded
        error:
          type: string
          description: Optional error description (set if 'success' was false)
    OptimizeDSPParametersResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - parameters
        properties:
          parameters:
            type: object
    TunerRun:
      type: object
      required:
      - tunerJobId
      - tunerCoordinatorJobId
      - index
      - created
      - jobStatus
      properties:
        tunerJobId:
          type: integer
        tunerCoordinatorJobId:
          type: integer
        index:
          type: integer
        name:
          type: string
        created:
          type: string
          format: date-time
        jobStatus:
          $ref: '#/components/schemas/JobStatus'
        continuationJobId:
          type: integer
        space:
          type: array
          description: List of impulses specifying the EON Tuner search space
          items:
            $ref: '#/components/schemas/TunerSpaceImpulse'
    TunerSpaceInputBlock:
      type: object
      additionalProperties: true
    PublicProjectTierAvailability:
      description: For public blocks, this indicates the project tiers for which this block is available.
      type: string
      enum:
      - enterprise-only
      - pro-or-enterprise
      - all-projects
    AdditionalMetric:
      type: object
      required:
      - name
      - value
      - fullPrecisionValue
      properties:
        name:
          type: string
        value:
          type: string
        fullPrecisionValue:
          type: number
        tooltipText:
          type: string
        link:
          type: string
    TunerSpaceDSPBlock:
      type: object
      additionalProperties: true
    TunerCreateTrialDSPBlock:
      type: object
      additionalProperties: true
    TunerTrialImpulse:
      type: object
      required:
      - inputBlock
      - dspBlock
      - learnBlock
      properties:
        inputBlocks:
          type: array
          items:
            $ref: '#/components/schemas/TunerCreateTrialInputBlock'
        dspBlocks:
          type: array
          items:
            $ref: '#/components/schemas/TunerCreateTrialDSPBlock'
        learnBlocks:
          type: array
          items:
            $ref: '#/components/schemas/TunerCreateTrialLearnBlock'
    WindowSettingsResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - windowSettingsEvent
        - windowSettingsContinuous
        properties:
          windowSettingsEvent:
            type: array
            items:
              $ref: '#/components/schemas/WindowSettings'
          windowSettingsContinuous:
            type: array
            items:
              $ref: '#/components/schemas/WindowSettings'
    BlockType:
      type: string
      enum:
      - official
      - personal
      - enterprise
      - pro-or-enterprise
      - community
    BlockDisplayCategory:
      description: Category to display this block in the UI.
      type: string
      enum:
      - classical
      - tao
    TunerCreateTrialImpulse:
      type: object
      required:
      - inputBlock
      - dspBlock
      - learnBlock
      properties:
        id:
          type: string
        experiment:
          type: string
        original_trial_id:
          type: string
        optimizationRound:
          type: number
        inputBlocks:
          type: array
          items:
            $ref: '#/components/schemas/TunerCreateTrialInputBlock'
        dspBlocks:
          type: array
          items:
            $ref: '#/components/schemas/TunerCreateTrialDSPBlock'
        learnBlocks:
          type: array
          items:
            $ref: '#/components/schemas/TunerCreateTrialLearnBlock'
    ListTunerRunsResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - runs
        properties:
          runs:
            type: array
            items:
              $ref: '#/components/schemas/TunerRun'
    LogStdoutResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - stdout
        - totalCount
        properties:
          stdout:
            type: array
            items:
              type: object
              required:
              - created
              - data
              properties:
                created:
                  type: string
                  format: date-time
                data:
                  type: string
                logLevel:
                  type: string
                  enum:
                  - error
                  - warn
                  - info
                  - debug
          totalCount:
            type: integer
            description: Total number of logs (only the last 1000 lines are returned)
    LearnBlockType:
      type: string
      description: The type of learning block (anomaly, keras, keras-transfer-image, keras-transfer-kws, keras-object-detection, keras-regression). Each behaves differently.
      enum:
      - anomaly
      - anomaly-gmm
      - keras
      - keras-transfer-image
      - keras-transfer-kws
      - keras-object-detection
      - keras-regression
      - keras-akida
      - keras-akida-transfer-image
      - keras-akida-object-detection
      - keras-visual-anomaly
    KerasVisualLayerType:
      type: string
      enum:
      - dense
      - conv1d
      - conv2d
      - reshape
      - flatten
      - dropout
      - batchNormalization
      - transfer_mobilenetv2_a35
      - transfer_mobilenetv2_a1
      - transfer_mobilenetv2_a05
      - transfer_mobilenetv2_160_a1
      - transfer_mobilenetv2_160_a75
      - transfer_mobilenetv2_160_a5
      - transfer_mobilenetv2_160_a35
      - transfer_mobilenetv1_a25_d100
      - transfer_mobilenetv1_a2_d100
      - transfer_mobilenetv1_a1_d100
      - transfer_kws_mobilenetv1_a1_d100
      - transfer_kws_mobilenetv2_a35_d100
      - transfer_kws_syntiant_ndp10x
      - transfer_kws_conv2d_tiny
      - object_ssd_mobilenet_v2_fpnlite_320x320
      - fomo_mobilenet_v2_a01
      - fomo_mobilenet_v2_a35
      - transfer_organization
      - transfer_akidanet_imagenet_160_a100
      - transfer_akidanet_imagenet_160_a50
      - transfer_akidanet_imagenet_160_a25
      - transfer_akidanet_imagenet_224_a100
      - transfer_akidanet_imagenet_224_a50
      - transfer_akidanet_imagenet_224_a25
      - fomo_akidanet_a50
      - fomo_ad_gmm
      - fomo_ad_patchcore
    ModelPrediction:
      type: object
      required:
      - sampleId
      - startMs
      - endMs
      - prediction
      properties:
        sampleId:
          type: integer
        startMs:
          type: number
        endMs:
          type: number
        label:
          type: string
        prediction:
          type: string
        predictionCorrect:
          type: boolean
        f1Score:
          type: number
          description: Only set for object detection projects
        anomalyScores:
          type: array
          description: Only set for visual anomaly projects. 2D array of shape (n, n) with raw anomaly scores, where n varies based on the image input size and the specific visual anomaly algorithm used. The scores corresponds to each grid cell in the image's spatial matrix.
          items:
            type: array
            items:
              type: number
    TunerTrial:
      type: object
      required:
      - id
      - name
      - status
      - blocks
      - impulse
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - pending
          - running
          - completed
          - failed
        lastCompletedEpoch:
          type: string
          format: date-time
        lastCompletedTraining:
          type: string
          format: date-time
        retries:
          type: integer
        currentEpoch:
          type: integer
        workerId:
          type: string
        blocks:
          type: array
          items:
            type: object
            required:
            - id
            - type
            - retries
            - status
            - blockId
            properties:
              id:
                type: integer
              lastActive:
                type: string
                format: date-time
              retries:
                type: integer
              status:
                type: string
                enum:
                - pending
                - running
                - completed
                - failed
              type:
                type: string
                enum:
                - input
                - dsp
                - learn
              modelBlockIndex:
                type: integer
                description: Index of corresponding DSP/learn block in the impulse model passed to createTrial()
        impulse:
          $ref: '#/components/schemas/TunerTrialImpulse'
        experiment:
          type: string
        original_trial_id:
          type: string
        model:
          type: object
          additionalProperties: true
        dspJobId:
          type: object
          properties:
            training:
              type: number
            testing:
              type: number
        learnJobId:
          type: number
        devicePerformance:
          type: object
          additionalProperties: true
        optimizationRound:
          type: number
        progress:
          type: object
          required:
          - epoch
          - loss
          - val_loss
          - accuracy
          - val_accuracy
          properties:
            epoch:
              type: number
            loss:
              type: number
            val_loss:
              type: number
            accuracy:
              type: number
            val_accuracy:
              type: number
        metrics:
          type: object
          properties:
            test:
              type: object
              properties:
                float32:
                  $ref: '#/components/schemas/KerasModelMetadataMetrics'
                int8:
                  $ref: '#/components/schemas/KerasModelMetadataMetrics'
            train:
              type: object
              properties:
                float32:
                  $ref: '#/components/schemas/KerasModelMetadataMetrics'
                int8:
                  $ref: '#/components/schemas/KerasModelMetadataMetrics'
            validation:
              type: object
              properties:
                float32:
                  $ref: '#/components/schemas/KerasModelMetadataMetrics'
                int8:
                  $ref: '#/components/schemas/KerasModelMetadataMetrics'
        impulseAddedToProject:
          type: object
          required:
          - impulseId
          - link
          properties:
            impulseId:
              type: integer
            link:
              type: string
    TunerCreateTrialLearnBlock:
      type: object
      additionalProperties: true
    AllLearnBlocksResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - learnBlocks
        properties:
          learnBlocks:
            type: array
            items:
              type: object
              required:
              - type
              - title
              - author
              - description
              - name
              properties:
                type:
                  $ref: '#/components/schemas/LearnBlockType'
                title:
                  type: string
                author:
                  type: string
                description:
                  type: string
                name:
                  type: string
                organizationModelId:
                  type: number
                experiment:
                  type: string
                displayCategory:
                  $ref: '#/components/schemas/BlockDisplayCategory'
                publicProjectTierAvailability:
                  $ref: '#/components/schemas/PublicProjectTierAvailability'
    TunerSpaceImpulse:
      type: object
      required:
      - inputBlocks
      - dspBlocks
      - learnBlocks
      properties:
        parameters:
          type: object
          description: Hyperparameters with potential values that can be used in any block in this impulse
        inputBlocks:
          type: array
          description: Input Blocks that are part of this impulse
          items:
            $ref: '#/components/schemas/TunerSpaceInputBlock'
        dspBlocks:
          type: array
          description: DSP Blocks that are part of this impulse
          items:
            $ref: '#/components/schemas/TunerSpaceDSPBlock'
        learnBlocks:
          type: array
          description: Learning Blocks that are part of this impulse
          items:
            type: array
            items:
              $ref: '#/components/schemas/TunerSpaceLearnBlock'
    OptimizeConfigResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - $ref: '#/components/schemas/OptimizeConfig'
      - type: object
        properties:
          device:
            type: object
    KerasModelTypeEnum:
      type: string
      enum:
      - int8
      - float32
      - akida
      - requiresRetrain
    OptimizeStateResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - config
        - status
        - trials
        - workers
        - projectDataType
        - tunerJobIsRunning
        - nextRunIndex
        - isWhitelabel
        properties:
          config:
            $ref: '#/components/schemas/OptimizeConfig'
          status:
            type: object
            required:
            - numPendingTrials
            - numRunningTrials
            - numCompletedTrials
            - numFailedTrials
            - numReadyWorkers
            - numBusyWorkers
            - numPendingWorkers
            - status
            properties:
              numPendingTrials:
                type: integer
              numRunningTrials:
                type: integer
              numCompletedTrials:
                type: integer
              numFailedTrials:
                type: integer
              numReadyWorkers:
                type: integer
              numBusyWorkers:
                type: integer
              numPendingWorkers:
                type: integer
              status:
                type: string
                enum:
                - creating
                - ready
                - running
                - completed
          tunerJobId:
            description: Actual tuner process, job message events will be tagged with this ID
            type: integer
          tunerCoordinatorJobId:
            description: The coordinator pod, attach the job runner to this process for finished events
            type: integer
          continuationJobId:
            description: Job ID for the initial job this job continuous the hyperparameter search process for.
            type: integer
          tuningAlgorithm:
            type: string
            description: Tuning algorithm to use to search hyperparameter space
            enum:
            - random
            - hyperband
            - bayesian
            - custom
          tunerJobIsRunning:
            description: Whether the job is active (if false => finished)
            type: boolean
          trials:
            type: array
            items:
              $ref: '#/components/schemas/TunerTrial'
          projectDataType:
            type: string
            enum:
            - audio
            - image
            - motion
            - other
          jobError:
            type: string
          workers:
            type: array
            items:
              type: object
              required:
              - workerId
              - status
              properties:
                workerId:
                  type: string
                status:
                  type: string
                  enum:
                  - pending
                  - ready
                  - busy
          nextRunIndex:
            type: integer
          isWhitelabel:
            type: boolean
    KerasCustomMetric:
      type: object
      required:
      - name
      - value
      properties:
        name:
          description: The name of the metric
          type: string
        value:
          description: The value of this metric for this model type
          type: string
    ScoreTrialResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - latency
        - ram
        - rom
        - score
        properties:
          score:
            type: number
          latency:
            type: object
            required:
            - dspMips
            - dspMs
            - learnMaccs
            - learnMs
            properties:
              dspMips:
                type: number
              dspMs:
                type: number
              learnMaccs:
                type: number
              learnMs:
                type: number
          ram:
            type: object
            required:
            - dsp
            - learn
            properties:
              dsp:
                type: number
              learn:
                type: number
          rom:
            type: object
            required:
            - dsp
            - learn
            properties:
              dsp:
                type: number
              learn:
                type: number
    DSPGroupItem:
      type: object
      required:
      - name
      - type
      - param
      - defaultValue
      - readonly
      - shouldShow
      - required
      properties:
        name:
          type: string
          example: Scale axes
        value:
          type: string
        defaultValue:
          type: string
        type:
          type: string
          example: text
        help:
          type: string
          example: Divide axes by this number
        param:
          type: string
          example: scale-axes
        selectOptions:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              selected:
                type: boolean
              optionLabel:
                type: string
        readonly:
          type: boolean
        shouldShow:
          type: boolean
        showIf:
          type: object
          required:
          - parameter
          - operator
          - value
          properties:
            parameter:
              type: string
            operator:
              type: string
              enum:
              - eq
              - neq
            value:
              type: string
        invalidText:
          type: string
        section:
          type: string
          description: Interface section to render parameter in.
          enum:
          - advanced
          - augmentation
          - modelProfiling
        multiline:
          type: boolean
          description: Only valid for type "string". Will render a multiline text area.
        required:
          type: boolean
        hint:
          type: string
          description: If set, shows a hint below the input.
        placeholder:
          type: string
          description: Sets the placeholder text on the input element (for types "string", "int", "float" and "secret")
    OptimizeTransferLearningModelsResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - models
        properties:
          models:
            type: object
            required:
            - image
            - objectDetection
            - kws
            - regression
            - classification
            properties:
              image:
                type: array
                items:
                  $ref: '#/components/schemas/TransferLearningModel'
              objectDetection:
                type: array
                items:
                  $ref: '#/components/schemas/TransferLearningModel'
              kws:
                type: array
                items:
                  $ref: '#/components/schemas/TransferLearningModel'
              regression:
                type: array
                items:
                  $ref: '#/components/schemas/TransferLearningModel'
              classification:
                type: array
                items:
                  $ref: '#/components/schemas/TransferLearningModel'
    KerasModelMetadataMetrics_2:
      type: object
      required:
      - type
      - loss
      - confusionMatrix
      - report
      - onDevicePerformance
      - visualization
      - isSupportedOnMcu
      - additionalMetrics
      properties:
        type:
          description: The type of model
          $ref: '#/components/schemas/KerasModelTypeEnum'
        loss:
          type: number
          description: The model's loss on the validation set after training
        accuracy:
          type: number
          description: The model's accuracy on the validation set after training
        confusionMatrix:
          type: array
          example:
          - - 31
            - 1
            - 0
          - - 2
            - 27
            - 3
          - - 1
            - 0
            - 39
          items:
            type: array
            items:
              type: number
        report:
          type: object
          description: Precision, recall, F1 and support scores
        onDevicePerformance:
          type: array
          items:
            type: object
            required:
            - mcu
            - name
            - isDefault
            - latency
            - tflite
            - eon
            - hasPerformance
            properties:
              mcu:
                type: string
              name:
                type: string
              isDefault:
                type: boolean
              latency:
                type: number
              tflite:
                type: object
                required:
                - ramRequired
                - romRequired
                - arenaSize
                - modelSize
                properties:
                  ramRequired:
                    type: integer
                  romRequired:
                    type: integer
                  arenaSize:
                    type: integer
                  modelSize:
                    type: integer
              eon:
                type: object
                required:
                - ramRequired
                - romRequired
                - arenaSize
                - modelSize
                properties:
                  ramRequired:
                    type: integer
                  romRequired:
                    type: integer
                  arenaSize:
                    type: integer
                  modelSize:
                    type: integer
              eon_ram_optimized:
                type: object
                required:
                - ramRequired
                - romRequired
                - arenaSize
                - modelSize
                properties:
                  ramRequired:
                    type: integer
                  romRequired:
                    type: integer
                  arenaSize:
                    type: integer
                  modelSize:
                    type: integer
              customMetrics:
                description: Custom, device-specific performance metrics
                type: array
                items:
                  $ref: '#/components/schemas/KerasCustomMetric'
              hasPerformance:
                description: If false, then no metrics are available for this target
                type: boolean
              profilingError:
                description: Specific error during profiling (e.g. model not supported)
                type: string
        predictions:
          type: array
          items:
            $ref: '#/components/schemas/ModelPrediction_2'
        visualization:
          type: string
          enum:
          - featureExplorer
          - dataExplorer
          - none
        isSupportedOnMcu:
          type: boolean
        mcuSupportError:
          type: string
        profilingJobId:
          description: If this is set, then we're still profiling this model. Subscribe to job updates to see when it's done (afterward the metadata will be updated).
          type: integer
        profilingJobFailed:
          description: If this is set, then the profiling job failed (get the status by getting the job logs for 'profilingJobId').
          type: boolean
        additionalMetrics:
          type: array
          items:
            $ref: '#/components/schemas/AdditionalMetric'
    AllBlocksResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - input
        - dsp
        - learn
        properties:
          input:
            type: array
            items:
              $ref: '#/components/schemas/TunerBlock'
          dsp:
            type: array
            items:
              $ref: '#/components/schemas/TunerBlock'
          learn:
            type: array
            items:
              $ref: '#/components/schemas/TunerBlock'
    OptimizeConfig_2:
      type: object
      required:
      - targetDevice
      - targetLatency
      properties:
        name:
          type: string
        targetLatency:
          type: integer
          description: Target latency in MS
          example: 0
        targetDevice:
          type: object
          required:
          - name
          description: Target device
          properties:
            name:
              type: string
              example: cortex-m4f-80mhz
            ram:
              type: integer
              example: 1024
            rom:
              type: integer
              example: 1024
        compiler:
          type: array
          items:
            type: string
        precision:
          type: array
          items:
            type: string
        trainingCycles:
          type: integer
          description: Maximum number of training cycles
          example: 5
        tuningMaxTrials:
          type: integer
          description: Maximum number of trials
          example: 2
        tuningWorkers:
          type: integer
          description: Maximum number of parallel workers/jobs
          example: 1
        initialTrials:
          type: integer
          description: Number of initial trials
          example: 5
        optimizationRounds:
          type: integer
          description: Number of optimization rounds
          example: 3
        trialsPerOptimizationRound:
          type: integer
          description: Number of trials per optimization round
          example: 3
        minMACCS:
          type: number
        maxMACCS:
          type: number
        tuningAlgorithm:
          type: string
          description: Tuning algorithm to use to search hyperparameter space
          enum:
          - random
          - hyperband
          - bayesian
          - custom
        notificationOnCompletion:
          type: boolean
        importProjectMetrics:
          type: boolean
          description: Whether to import metrics for previous EON tuner runs in the same project to accelerate the hyperparameter search process
        importResourceMetrics:
          type: boolean
          description: Whether to import resource usage (RAM/ROM/latency) metrics to accelerate the hyperparameter search process
        numImportProjectMetrics:
          type: number
          description: Number of project trials to import
        numImportResourceMetrics:
          type: number
          description: Number of resource usage trials to import
        enableSEM:
          type: boolean
          description: Enable standard error of the mean (SEM)
        accuracySEM:
          type: number
          description: Standard error of the trial accuracy mean
        latencySEM:
          type: number
          description: Standard error of the trial latency mean
        optimizationObjectives:
          type: array
          description: Hyperparameter optimization objectives and corresponding weights
          items:
            type: object
            required:
            - objective
            - label
            - weight
            properties:
              objective:
                type: string
                description: Objective to optimize
              label:
                type: string
                description: Label of the objective
              weight:
                type: number
                description: Weight of the objective
        rawObjectives:
          type: string
          description: Hyperparameter optimization objectives + weights in string format
        optimizationPrecision:
          type: string
          description: Model variant to optimize for
          enum:
          - float32
          - int8
        earlyStopping:
          type: boolean
          description: Enable trial level early stopping based on loss metrics during training
        earlyStoppingWindowSize:
          type: number
          description: Stops the EON tuner if the feasible (mean) objective has not improved over the past “window_size” iterations
        earlyStoppingImprovementBar:
          type: number
          description: Threshold (in [0,1]) for considering relative improvement over the best point.
        MOMF:
          type: boolean
          description: Enable Multi-fidelity Multi-Objective optimization
        verboseLogging:
          type: boolean
          description: Enable verbose logging
        disableConstraints:
          type: boolean
          description: Disable search constraints
        disableDeduplicate:
          type: boolean
          description: Disable trial deduplication
        maxTotalTrainingTime:
          type: number
          description: Maximum total training time in seconds
        tunerChildJobMemoryMiB:
          type: integer
          description: Optional memory override for tuner child jobs (MiB), capped at 65536 MiB.
          minimum: 1
          maximum: 65536
        tunerSpaceOptions:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        space:
          type: array
          description: List of impulses specifying the EON Tuner search space
          items:
            $ref: '#/components/schemas/TunerSpaceImpulse'
        searchSpaceTemplate:
          type: object
          description: Search space template
          required:
          - identifier
          properties:
            identifier:
              type: string
              description: Search space template identifier
              enum:
              - speech_keyword
              - speech_continuous
              - audio_event
              - audio_continuous
              - visual
              - motion_event
              - motion_continuous
              - audio_syntiant
              - object_detection_bounding_boxes
              - object_detection_centroids
              - visual_ad
              - object_detection_yolo_pro
            classification:
              type: boolean
              description: Whether a classification block should be added to the search space
            anomaly:
              type: boolean
              description: Whether an anomaly block should be added to the search space
            regression:
              type: boolean
              description: Whether a regression block should be added to the search space
        searchSpaceSource:
          type: object
          description: Search space source
          required:
          - type
          properties:
            type:
              type: string
              description: Search space source type
              enum:
              - template
              - run
              - impulse
              - custom
            templateTitle:
              type: string
              description: Search space source template title
            runTitle:
              type: string
              description: Search space source run title
            impulseTitle:
              type: string
              description: Search space source impulse title
    OptimizeStateResponse_2:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - config
        - status
        - trials
        - workers
        - projectDataType
        - tunerJobIsRunning
        - nextRunIndex
        - canExtendSearch
        - isWhitelabel
        - totalTrainingTimeExceeded
        properties:
          config:
            $ref: '#/components/schemas/OptimizeConfig_2'
          status:
            type: object
            required:
            - numPendingTrials
            - numRunningTrials
            - numCompletedTrials
            - numFailedTrials
            - numReadyWorkers
            - numBusyWorkers
            - numPendingWorkers
            - status
            properties:
              numPendingTrials:
                type: integer
              numRunningTrials:
                type: integer
              numCompletedTrials:
                type: integer
              numFailedTrials:
                type: integer
              numReadyWorkers:
                type: integer
              numBusyWorkers:
                type: integer
              numPendingWorkers:
                type: integer
              status:
                type: string
                enum:
                - creating
                - ready
                - running
                - completed
          tunerJobId:
            description: Actual tuner process, job message events will be tagged with this ID
            type: integer
          tunerCoordinatorJobId:
            description: The coordinator pod, attach the job runner to this process for finished events
            type: integer
          continuationJobId:
            description: Job ID for the initial job this job continuous the hyperparameter search process for.
            type: integer
          tuningAlgorithm:
            type: string
            description: Tuning algorithm to use to search hyperparameter space
            enum:
            - random
            - hyperband
            - bayesian
            - custom
          tunerJobIsRunning:
            description: Whether the job is active (if false => finished)
            type: boolean
          trials:
            type: array
            items:
              $ref: '#/components/schemas/TunerTrial_2'
          projectDataType:
            type: string
            enum:
            - audio
            - image
            - motion
            - other
          jobError:
            type: string
          workers:
            type: array
            items:
              type: object
              required:
              - workerId
              - status
              properties:
                workerId:
                  type: string
                status:
                  type: string
                  enum:
                  - pending
                  - ready
                  - busy
          nextRunIndex:
            type: integer
            description: Index of the next run to be created. Used to pre-populate the name of the next run.
          canExtendSearch:
            type: boolean
            description: Whether the search can be extended to evaluate more candidate models. Extending is possible if the search space contains candidate models that are expected to perform better than the current best candidate. And extending is also possible if the previous run was paused due to the total runtime limit being exceeded.
          isWhitelabel:
            type: boolean
          totalTrainingTimeExceeded:
            type: boolean
            description: Whether the total training time has exceeded the defined limit for the current run.
    JobLogItem:
      type: object
      required:
      - created
      - data
      properties:
        created:
          type: string
          format: date-time
        data:
          type: string
        logLevel:
          type: string
          enum:
          - error
          - warn
          - info
          - debug
    TransferLearningModel_2:
      type: object
      required:
      - name
      - shortName
      - description
      - hasNeurons
      - hasDropout
      - type
      - learnBlockType
      - author
      - blockType
      - hasExpertMode
      properties:
        name:
          type: string
        shortName:
          type: string
        abbreviatedName:
          type: string
        description:
          type: string
        hasNeurons:
          type: boolean
        hasDropout:
          type: boolean
        defaultNeurons:
          type: integer
        defaultDropout:
          type: number
        defaultLearningRate:
          type: number
        defaultTrainingCycles:
          type: number
        hasImageAugmentation:
          type: boolean
        type:
          $ref: '#/components/schemas/KerasVisualLayerType'
        learnBlockType:
          $ref: '#/components/schemas/LearnBlockType_2'
        organizationModelId:
          type: integer
        implementationVersion:
          type: integer
        repositoryUrl:
          type: string
          description: URL to the source code of this custom learn block.
        customBlockRef:
          type: string
          description: Unique stable string key used to create and find this custom block.
        author:
          type: string
        blockType:
          $ref: '#/components/schemas/BlockType_2'
        customParameters:
          type: array
          items:
            $ref: '#/components/schemas/DSPGroupItem_2'
        displayCategory:
          $ref: '#/components/schemas/BlockDisplayCategory_2'
        blockNoLongerAvailable:
          type: object
          description: If this object is set, then you can no longer train this block. The reason (or a migration path) is in the `reasonMarkdown` and `reasonHtml` properties.
          required:
          - reasonMarkdown
          - reasonHtml
          properties:
            reasonMarkdown:
              description: Reason or migration path for current users of this block, in Markdown format.
              type: string
            reasonHtml:
              description: Reason or migration path for current users of this block, in HTML format.
              type: string
        hasExpertMode:
          description: Whether this block can be switched to expert mode.
          type: boolean
    TunerRun_2:
      type: object
      required:
      - tunerJobId
      - tunerCoordinatorJobId
      - index
      - created
      - jobStatus
      - visible
      properties:
        tunerJobId:
          type: integer
        tunerCoordinatorJobId:
          type: integer
        index:
          type: integer
        name:
          type: string
        created:
          type: string
          format: date-time
        jobStatus:
          $ref: '#/components/schemas/JobStatus'
        continuationJobId:
          type: integer
        space:
          type: array
          description: List of impulses specifying the EON Tuner search space
          items:
            $ref: '#/components/schemas/TunerSpaceImpulse'
        visible:
          type: boolean
          description: Whether the run is visible in the UI
    PublicProjectTierAvailability_2:
      description: For public blocks, this indicates the project tiers for which this block is available.
      type: string
      enum:
      - enterprise-only
      - all-projects
      - all-projects-including-whitelabels
    TunerBlock:
      type: object
      required:
      - type
      - title
      - blockType
      properties:
        type:
          type: string
        title:
          type: string
        blockType:
          $ref: '#/components/schemas/BlockType_2'
        author:
          type: string
        description:
          type: string
        name:
          type: string
        recommended:
          type: boolean
        organizationModelId:
          type: number
        params:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DSPGroupItem_2'
        defaultConfig:
          type: object
        variants:
          type: object
          additionalProperties:
            type: object
            properties:
              title:
                type: string
              key:
                type: string
              regression:
                type: boolean
              objectDetection:
                type: boolean
              projectDataType:
                type: string
              searchSpaceTemplates:
                type: array
                items:
                  type: object
                  properties:
                    template:
                      type: string
                    group:
                      type: string
                    blocks:
                      type: object
                      properties:
                        input:
                          type: object
                          properties:
                            type:
                              type: string
                            variant:
                              type: string
                            params:
                              type: object
                        dsp:
                          type: object
                          properties:
                            type:
                              type: string
                            variant:
                              type: string
                            params:
                              type: object
                        learn:
                          type: object
                          properties:
                            type:
                              type: string
                            variant:
                              type: string
                            params:
                              type: object
              params:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: object
    BoundingBoxWithScore:
      type: object
      description: This has the _ratio_ for x/y/w/h (so 0..1)
      required:
      - label
      - x
      - y
      - width
      - height
      - score
      properties:
        label:
          type: string
        x:
          type: number
        y:
          type: number
        width:
          type: number
        height:
          type: number
        score:
          type: number
    BlockType_2:
      type: string
      enum:
      - official
      - personal
      - enterprise
      - community
    LogStdoutResponse_2:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - stdout
        - totalCount
        properties:
          stdout:
            type: array
            items:
              $ref: '#/components/schemas/JobLogItem'
          totalCount:
            type: integer
            description: Total number of logs (only the last 1000 lines are returned)
    LearnBlockType_2:
      type: string
      description: The type of learning block (anomaly, keras, keras-transfer-image, keras-transfer-kws, keras-object-detection, keras-regression, keras-freeform). Each behaves differently.
      enum:
      - anomaly
      - anomaly-gmm
      - keras
      - keras-transfer-image
      - keras-transfer-kws
      - keras-object-detection
      - keras-regression
      - keras-akida
      - keras-akida-transfer-image
      - keras-akida-object-detection
      - keras-visual-anomaly
      - keras-freeform
      - keras-anomaly
      - vlm
    ModelPrediction_2:
      type: object
      required:
      - sampleId
      - startMs
      - endMs
      - prediction
      properties:
        sampleId:
          type: integer
        startMs:
          type: number
        endMs:
          type: number
        label:
          type: string
        prediction:
          type: string
        predictionCorrect:
          type: boolean
        f1Score:
          type: number
          description: Only set for object detection projects
        anomalyScores:
          type: array
          description: Only set for visual anomaly projects. 2D array of shape (n, n) with raw anomaly scores, where n varies based on the image input size and the specific visual anomaly algorithm used. The scores corresponds to each grid cell in the image's spatial matrix.
          items:
            type: array
            items:
              type: number
        boundingBoxes:
          type: array
          description: Only set for object detection projects. Coordinates are scaled 0..1, not absolute values.
          items:
            $ref: '#/components/schemas/BoundingBoxWithScore'
        labelMapPredictions:
          type: object
          description: For samples with structured labels (in the form of a key/value label map), this object will contain per-key prediction info for the sample.
          additionalProperties:
            type: string
    TunerTrial_2:
      type: object
      required:
      - id
      - name
      - status
      - blocks
      - impulse
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - pending
          - running
          - completed
          - failed
        lastCompletedEpoch:
          type: string
          format: date-time
        lastCompletedTraining:
          type: string
          format: date-time
        retries:
          type: integer
        currentEpoch:
          type: integer
        workerId:
          type: string
        blocks:
          type: array
          items:
            type: object
            required:
            - id
            - type
            - retries
            - status
            - blockId
            properties:
              id:
                type: integer
              lastActive:
                type: string
                format: date-time
              retries:
                type: integer
              status:
                type: string
                enum:
                - pending
                - running
                - completed
                - failed
              type:
                type: string
                enum:
                - input
                - dsp
                - learn
              modelBlockIndex:
                type: integer
                description: Index of corresponding DSP/learn block in the impulse model passed to createTrial()
        impulse:
          $ref: '#/components/schemas/TunerTrialImpulse'
        experiment:
          type: string
        original_trial_id:
          type: string
        model:
          type: object
          additionalProperties: true
        dspJobId:
          type: object
          properties:
            training:
              type: number
            testing:
              type: number
        learnJobId:
          type: number
        devicePerformance:
          type: object
          additionalProperties: true
        optimizationRound:
          type: number
        progress:
          type: object
          required:
          - epoch
          - loss
          - val_loss
          - accuracy
          - val_accuracy
          properties:
            epoch:
              type: number
            loss:
              type: number
            val_loss:
              type: number
            accuracy:
              type: number
            val_accuracy:
              type: number
        metrics:
          type: object
          properties:
            test:
              type: object
              properties:
                float32:
                  $ref: '#/components/schemas/KerasModelMetadataMetrics_2'
                int8:
                  $ref: '#/components/schemas/KerasModelMetadataMetrics_2'
            train:
              type: object
              properties:
                float32:
                  $ref: '#/components/schemas/KerasModelMetadataMetrics_2'
                int8:
                  $ref: '#/components/schemas/KerasModelMetadataMetrics_2'
            validation:
              type: object
              properties:
                float32:
                  $ref: '#/components/schemas/KerasModelMetadataMetrics_2'
                int8:
                  $ref: '#/components/schemas/KerasModelMetadataMetrics_2'
        impulseAddedToProject:
          type: object
          required:
          - impulseId
          - link
          properties:
            impulseId:
              type: integer
            link:
              type: string
        createdInPostProcessing:
          type: boolean
    BlockDisplayCategory_2:
      description: Category to display this block in the UI.
      type: string
      enum:
      - classical
      - tao
      - developer-preview
    DSPGroupItem_2:
      type: object
      required:
      - name
      - type
      - param
      - defaultValue
      - readonly
      - shouldShow
      - required
      - showClickToSet
      properties:
        name:
          type: string
          example: Scale axes
        value:
          type: string
        defaultValue:
          type: string
        type:
          type: string
          example: text
        help:
          type: string
          example: Divide axes by this number
        param:
          type: string
          example: scale-axes
        selectOptions:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                description: What is the string that will be set if this option is selected?
              selected:
                type: boolean
              optionLabel:
                type: string
                description: What is the label that will be shown to the user for this option?
              priority:
                type: number
                description: The following options are optional.  See Learn Block Auto Config in Notion. Higher priority will get chosen based on limits below.
              romEstimate:
                type: number
                description: Estimated ROM footprint for this choice.  Will be tested against ROM budget in Studio.
              needsOps:
                type: array
                items:
                  type: string
                  description: ML operator needed by this choice.
              needsFeatures:
                type: array
                items:
                  type: string
                  description: Feature needed by this choice. (non op related)
        readonly:
          type: boolean
        shouldShow:
          type: boolean
        showIf:
          type: object
          required:
          - parameter
          - operator
          - value
          properties:
            parameter:
              type: string
            operator:
              type: string
              enum:
              - eq
              - neq
            value:
              type: string
        invalidText:
          type: string
        section:
          type: string
          description: Interface section to render parameter in.
          enum:
          - advanced
          - augmentation
          - modelProfiling
        multiline:
          type: boolean
          description: Only valid for type "string". Will render a multiline text area.
        required:
          type: boolean
        hint:
          type: string
          description: If set, shows a hint below the input.
        placeholder:
          type: string
          description: Sets the placeholder text on the input element (for types "string", "int", "float" and "secret")
        showClickToSet:
          type: boolean
          description: If enabled, render a disabled input element with 'Click to set'
        valid:
          type: array
          items:
            type: object
          description: Valid values for parameter.
        items:
          type: object
          description: Recursive definition for items of a parameter with type 'array'.
        properties:
          type: object
          description: Recursive definition for a parameter with type 'object'.
        minVal:
          type: number
          description: Minimum value for parameters of type 'int' or 'float'.
        maxVal:
          type: number
          description: Maximum value for parameters of type 'int' or 'float'.
    OptimizeTransferLearningModelsResponse_2:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - models
        properties:
          models:
            type: object
            required:
            - image
            - objectDetection
            - kws
            - regression
            - classification
            properties:
              image:
                type: array
                items:
                  $ref: '#/components/schemas/TransferLearningModel_2'
              objectDetection:
                type: array
                items:
                  $ref: '#/components/schemas/TransferLearningModel_2'
              kws:
                type: array
                items:
                  $ref: '#/components/schemas/TransferLearningModel_2'
              regression:
                type: array
                items:
                  $ref: '#/components/schemas/TransferLearningModel_2'
              classification:
                type: array
                items:
                  $ref: '#/components/schemas/TransferLearningModel_2'
              anomaly:
                type: array
                items:
                  $ref: '#/components/schemas/TransferLearningModel_2'
              visualAnomaly:
                type: array
                items:
                  $ref: '#/components/schemas/TransferLearningModel_2'
  parameters:
    OptimizeOrganizationDspIdParameter:
      name: organizationDspId
      in: query
      required: true
      description: Organization DSP ID
      schema:
        type: integer
    OptimizeOrganizationIdParameter:
      name: organizationId
      in: query
      required: true
      description: Organization ID
      schema:
        type: integer
    JobIdParameter:
      name: jobId
      in: path
      required: true
      description: Job ID
      schema:
        type: integer
    TrialIdParameter:
      name: trialId
      in: path
      required: true
      description: trial ID
      schema:
        type: string
    ProjectIdParameter:
      name: projectId
      in: path
      required: true
      description: Project ID
      schema:
        type: integer
    TunerCoordinatorJobIdParameter:
      name: tunerCoordinatorJobId
      in: path
      required: true
      description: Tuner coordinator job ID
      schema:
        type: integer
  securitySchemes:
    ApiKeyAuthentication:
      type: apiKey
      in: header
      name: x-api-key
    JWTAuthentication:
      type: apiKey
      in: cookie
      name: jwt
    JWTHttpHeaderAuthentication:
      type: apiKey
      in: header
      name: x-jwt-token
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /v1/oauth/authorize
          tokenUrl: /v1/oauth/token
          scopes:
            openid: Access to basic profile information
            email: Access to email address
            profile: Access to full profile information
        implicit:
          authorizationUrl: /v1/oauth/authorize
          scopes:
            openid: Access to basic profile information
            email: Access to email address
            profile: Access to full profile information
        password:
          tokenUrl: /v1/oauth/token
          scopes:
            openid: Access to basic profile information
            email: Access to email address
            profile: Access to full profile information
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes:
            openid: Access to basic profile information
            email: Access to email address
            profile: Access to full profile information
x-refined-from:
- edge-impulse-openapi.yml
- edge-impulse-studio-openapi-2026-09-06.yml
