openapi: 3.0.0
info:
  title: Edge Impulse Organizations API
  version: 1.0.0
servers:
- url: https://studio.edgeimpulse.com/v1
security:
- ApiKeyAuthentication: []
- JWTAuthentication: []
- JWTHttpHeaderAuthentication: []
tags:
- name: Organizations
paths:
  /api/organizations:
    get:
      summary: List active organizations
      x-skip-route: true
      description: Retrieve list of organizations that a user is a part of. If authenticating using JWT token this lists all the organizations the user has access to, if authenticating using an API key, this only lists that organization.
      tags:
      - Organizations
      operationId: listOrganizations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganizationsResponse'
  /api/organizations/create:
    post:
      summary: Create new organization
      description: Create a new organization. This is an internal API.
      x-internal-api: true
      tags:
      - Organizations
      x-middleware:
      - OrganizationAllowDeveloperProfile
      operationId: createOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrganizationResponse'
  /api/organizations/{organizationId}:
    get:
      summary: Organization information
      description: List all information about this organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationAllowDeveloperProfile
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: getOrganizationInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInfoResponse'
    post:
      summary: Update organization
      description: Update organization properties such as name and logo.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: updateOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
    delete:
      summary: Remove organization
      description: Remove the current organization, and all data associated with it. This is irrevocable!
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: deleteOrganization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/trial/request-extension:
    post:
      summary: Request trial extension
      description: Request an extension for an enterprise trial.
      tags:
      - Organizations
      operationId: requestEnterpriseTrialExtension
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseUpgradeOrTrialExtensionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/metrics:
    get:
      summary: Organization metrics
      description: Get general metrics for this organization.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/ExcludeEdgeImpulseUsersParameter'
      - $ref: '#/components/parameters/ProjectVisibilityParameter'
      operationId: getOrganizationMetrics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMetricsResponse'
  /api/organizations/{organizationId}/request-hr-block-license:
    post:
      summary: Request HR block license
      description: Request a license required for the deployment of an impulse containing the Edge Impulse HR block.
      tags:
      - Organizations
      operationId: requestEnterpriseHrBlockLicense
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/limits-request:
    post:
      summary: Request organization limits increase
      description: 'Request an increase in the limits for this organization. Available limits are: users, projects, compute, storage.'
      tags:
      - Organizations
      operationId: requestEnterpriseLimitsIncrease
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseLimitsIncreaseRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel:
    get:
      summary: White Label Admin - Get white label information
      description: White label admin only API to get the white label information.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetInfo
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWhitelabelResponse'
    put:
      summary: White Label Admin - Update white label information
      description: White label admin only API to update the white label information.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: whitelabelAdminUpdateInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWhitelabelRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/deploymentTargets:
    post:
      summary: White Label Admin - Update deployment targets
      description: White label admin only API to update some or all of the deployment targets enabled for this white label.
      operationId: whitelabelAdminUpdateDeploymentTargets
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWhitelabelDeploymentTargetsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/deploymentTargets/default:
    post:
      summary: White Label Admin - Update default deployment target
      description: White label admin only API to update the default deployment target for this white label.
      operationId: whitelabelAdminUpdateDefaultDeploymentTarget
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWhitelabelDefaultDeploymentTargetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/deploymentOptionsOrder:
    post:
      summary: White Label Admin - Update the order of deployment options in the deployment view
      description: White label admin only API to customize the order of deployment options in the deployment view for this white label.
      operationId: whitelabelAdminUpdateDeploymentOptionsOrder
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWhitelabelDeploymentOptionsOrderRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/learningBlocks:
    post:
      summary: White Label Admin - Update learning blocks
      description: White label admin only API to update some or all of the learning blocks enabled for this white label.
      operationId: whitelabelAdminUpdateLearningBlocks
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWhitelabelLearningBlocksRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/theme/logo:
    post:
      summary: White Label Admin - Update theme logo
      description: White label admin only API to update the white label theme logo.
      operationId: whitelabelAdminUpdateThemeLogo
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadAssetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadAssetResponse'
  /api/organizations/{organizationId}/whitelabel/theme/deviceLogo:
    post:
      summary: White Label Admin - Update theme device logo
      description: White label admin only API to update the white label theme device logo.
      operationId: whitelabelAdminUpdateThemeDeviceLogo
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadAssetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadAssetResponse'
  /api/organizations/{organizationId}/whitelabel/theme/colors:
    post:
      summary: White Label Admin - Update theme colors
      description: White label admin only API to update some or all theme colors.
      operationId: whitelabelAdminUpdateThemeColors
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateThemeColorsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/theme/favicon:
    post:
      summary: White Label Admin - Update theme favicon
      description: White label admin only API to update the theme favicon.
      operationId: whitelabelAdminUpdateThemeFavicon
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/metrics:
    get:
      summary: White Label Admin - Get global white label metrics
      description: White label admin only API to get global metrics.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetMetrics
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminGetMetricsResponse'
  /api/organizations/{organizationId}/whitelabel/users:
    get:
      summary: White Label Admin - Get all white label users
      description: White label admin only API to get the list of all registered users.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetUsers
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/FiltersActiveParameter'
      - $ref: '#/components/parameters/FiltersTierParameter'
      - $ref: '#/components/parameters/FieldsParameter'
      - $ref: '#/components/parameters/SortQueryParameter'
      - $ref: '#/components/parameters/FiltersQueryParameter'
      - $ref: '#/components/parameters/LimitResultsParameter'
      - $ref: '#/components/parameters/OffsetResultsParameter'
      - $ref: '#/components/parameters/SearchQueryParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminGetUsersResponse'
  /api/organizations/{organizationId}/whitelabel/users/{userId}:
    get:
      summary: White Label Admin - Get a white label user
      description: White label admin only API to get information about a user.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetUser
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/UserIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminGetUserResponse'
    post:
      summary: White Label Admin - Update white label user
      description: White label admin only API to update user properties.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminUpdateUser
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/UserIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUpdateUserRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
    delete:
      summary: Delete a user
      description: White label admin only API to delete a user.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminDeleteUser
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/UserIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/users/{userId}/metrics:
    get:
      summary: White Label Admin - Get white label user metrics
      description: White label admin only API to get marketing metrics about a user.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetUserMetrics
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/UserIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminGetUserMetricsResponse'
  /api/organizations/{organizationId}/whitelabel/users/{userId}/jobs:
    get:
      summary: White Label Admin - Get user jobs
      description: White label admin only  API to get the list of all project jobs for a user.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetUserJobs
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/UserIdParameter'
      - $ref: '#/components/parameters/LimitResultsParameter'
      - $ref: '#/components/parameters/OffsetResultsParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
  /api/organizations/{organizationId}/whitelabel/projects:
    get:
      summary: White Label Admin - Get all white label projects
      description: White label admin only API to get the list of all projects.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetProjects
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/FiltersActiveParameter'
      - $ref: '#/components/parameters/SortQueryParameter'
      - $ref: '#/components/parameters/FiltersQueryParameter'
      - $ref: '#/components/parameters/LimitResultsParameter'
      - $ref: '#/components/parameters/OffsetResultsParameter'
      - $ref: '#/components/parameters/SearchQueryParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminListProjectsResponse'
    post:
      summary: White Label Admin - Create a new project within white label context.
      description: Create a new free tier project. This is an API only available to white label admins.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminCreateProject
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateProjectRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProjectResponse'
  /api/organizations/{organizationId}/whitelabel/projects/{projectId}:
    get:
      summary: White Label Admin - Get a white label project
      description: White label admin only API to get project information.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetProject
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectInfoResponse'
    post:
      summary: White Label Admin - Update white label project
      description: White label admin only API to update project properties.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminUpdateProject
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/ProjectIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
    delete:
      summary: White Label Admin - Delete a project
      description: White label admin only API to delete a project.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminDeleteProject
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/ProjectIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/projects/{projectId}/apiKeys:
    post:
      summary: White Label Admin - Add Project API key
      description: White label admin only API to add an API key to a project. Add a temporary API key that can be used to make Projects API (/api/projects/{projectId}/) requests on behalf of the project admin. These API keys are not visible to the project itself and have a customizable TTL defaulting to 1 minute.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminAddProjectApiKey
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/ProjectIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAddProjectApiKeyRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddApiKeyResponse'
  /api/organizations/{organizationId}/whitelabel/projects/{projectId}/members:
    post:
      summary: White Label Admin - Add user to a project
      description: White label admin only API to add a user to a project. If no user is provided, the current user is used.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/ProjectIdParameter'
      operationId: whitelabelAdminAddUserToProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAddProjectUserRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/projects/{projectId}/members/{userId}:
    delete:
      summary: White Label Admin - Remove user from a project
      description: White label admin only API to remove a user from a project.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/ProjectIdParameter'
      - $ref: '#/components/parameters/UserIdParameter'
      operationId: whitelabelAdminRemoveUserFromProject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/projects/{projectId}/jobs:
    get:
      summary: White Label Admin - Get project jobs
      description: White label admin only API to get the list of all jobs for a project.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/ProjectIdParameter'
      - $ref: '#/components/parameters/LimitResultsParameter'
      - $ref: '#/components/parameters/OffsetResultsParameter'
      operationId: whitelabelAdminGetProjectJobs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
  /api/organizations/{organizationId}/whitelabel/development-boards:
    post:
      summary: White Label Admin - Add a development board to a whitelabel
      description: White label admin only API to add a development board.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: whitelabelAdminAddDevelopmentBoard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevelopmentBoardRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCreatedResponse'
  /api/organizations/{organizationId}/whitelabel/development-boards/{developmentBoardId}:
    put:
      summary: White Label Admin - Update a development board in a whitelabel
      description: White label admin only API to update a development board.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/DevelopmentBoardIdParameter'
      operationId: whitelabelAdminUpdateDevelopmentBoard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevelopmentBoardRequestUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
    delete:
      summary: White Label Admin - Remove a development board from a whitelabel
      description: White label admin only API to remove a development board.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/DevelopmentBoardIdParameter'
      operationId: whitelabelAdminRemoveDevelopmentBoard
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/development-boards/{developmentBoardId}/image:
    post:
      summary: White Label Admin - Update the image of a whitelabel development board
      description: White label admin only API to update the image of a development board.
      operationId: whitelabelAdminUpdateDevelopmentBoardImage
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/DevelopmentBoardIdParameter'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadAssetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadAssetResponse'
  /api/organizations/{organizationId}/whitelabel/organizations:
    get:
      summary: White Label Admin - Get all organizations within a white label
      description: White label admin only API to get the list of all organizations.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetOrganizations
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/FiltersActiveParameter'
      - $ref: '#/components/parameters/FiltersIncludeDeletedParameter'
      - $ref: '#/components/parameters/SortQueryParameter'
      - $ref: '#/components/parameters/FiltersQueryParameter'
      - $ref: '#/components/parameters/LimitResultsParameter'
      - $ref: '#/components/parameters/OffsetResultsParameter'
      - $ref: '#/components/parameters/SearchQueryParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminGetOrganizationsResponse'
    post:
      summary: White Label Admin - Create new organization within white label context
      description: Create a new organization. This is an API only available to white label admins
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminCreateOrganization
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhitelabelAdminCreateOrganizationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrganizationResponse'
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}/usage/computeTime:
    get:
      summary: White Label Admin - Get organization compute time usage
      description: Get compute time usage for an organization over a period of time. This is an API only available to white label admins
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetOrganizationComputeTimeUsage
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/RequiredStartDateParameter'
      - $ref: '#/components/parameters/RequiredEndDateParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminGetOrganizationComputeTimeUsageResponse'
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}/usage/reports:
    get:
      summary: White Label Admin - Get all usage reports
      description: Get all usage reports for an organization. This is an API only available to white label admins.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetOrganizationUsageReports
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/LimitResultsParameter'
      - $ref: '#/components/parameters/OffsetResultsParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminGetReportsResponse'
    post:
      summary: White Label Admin - Creates a new usage report
      description: Create a new usage report for an organization. A job is created to process the report request and the job details are returned in the response. This is an API only available to white label admins.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminCreateOrganizationUsageReport
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/RequiredStartDateParameter'
      - $ref: '#/components/parameters/RequiredEndDateParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartJobResponse'
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}/usage/reports/{reportId}:
    get:
      summary: White Label Admin - Get usage report
      description: Get a usage report for an organization. This is an API only available to white label admins.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetOrganizationUsageReport
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/ReportIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminGetReportResponse'
    delete:
      summary: White Label Admin - Delete usage report
      description: Delete a usage report for an organization. This is an API only available to white label admins.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminDeleteOrganizationUsageReport
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/ReportIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}/usage/reports/{reportId}/download:
    get:
      summary: White Label Admin - Download usage report
      description: Download a usage report for an organization. This is an API only available to white label admins.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminDownloadOrganizationUsageReport
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/ReportIdParameter'
      responses:
        '302':
          description: A redirect to the CSV file
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}/exports:
    get:
      summary: White Label Admin - Get all organization data exports
      description: Get all data exports for an organization. This is an API only available to white label admins.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetOrganizationExports
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/LimitResultsParameter'
      - $ref: '#/components/parameters/OffsetResultsParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationDataExportsResponse'
    post:
      summary: White Label Admin - Create a new organization data export
      description: 'Create a new data export for an organization.

        A job is created to process the export request and the job details are returned in the response.

        This is an API only available to white label admins.

        '
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminCreateOrganizationExport
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateOrganizationDataExportRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartJobResponse'
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}/exports/{exportId}:
    get:
      summary: White Label Admin - Get organization data export
      description: Get a data export for an organization. This is an API only available to white label admins.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetOrganizationExport
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/ExportIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationDataExportResponse'
    delete:
      summary: White Label Admin - Delete organization data export
      description: Delete a data export for an organization. This is an API only available to white label admins.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminDeleteOrganizationExport
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/ExportIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
    put:
      summary: White Label Admin - Update organization data export
      description: Update a data export for an organization. This is an API only available to white label admins.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminUpdateOrganizationExport
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/ExportIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUpdateOrganizationDataExportRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}/apiKeys:
    post:
      summary: White Label Admin - Add organization API key
      description: White label admin only API to add an API key to an organization. Add a temporary API key that can be used to make Organizations API (/api/organizations/{organizationId}/) requests on behalf of the organization. These API keys are not visible to the organization itself and have a customizable TTL defaulting to 1 minute.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminAddOrganizationApiKey
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAddOrganizationApiKeyRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddApiKeyResponse'
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}/members:
    post:
      summary: White Label Admin - Add user to an organization
      description: White label admin only API to add a user to an organization. If no user is provided, the current user is used.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      operationId: whitelabelAdminAddUserToOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAddOrganizationUserRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}/members/{userId}:
    delete:
      summary: White Label Admin - Remove user from an organization
      description: White label admin only API to remove a user from an organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/UserIdParameter'
      operationId: whitelabelAdminRemoveUserFromOrganization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}:
    get:
      summary: White Label Admin - Get organization information
      description: White label admin only API to list all information about an organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetOrganizationInfo
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/FiltersIncludeDeletedParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminOrganizationInfoResponse'
    post:
      summary: White Label Admin - Update organization
      description: White label admin only API to update organization properties such as name and logo.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminUpdateOrganization
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUpdateOrganizationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
    delete:
      summary: White Label Admin - Delete an organization
      description: White label admin only API to delete an organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminDeleteOrganization
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}/restore:
    get:
      summary: White Label Admin - Restore an organization
      description: 'White label admin only API to restore a deleted organization. All organization projects sharing the same deletion date as that of the organization will also be restored. If this is a trial organization that was never upgraded to a paid plan then the organization will be restored to its original trial state.

        '
      tags:
      - Organizations
      operationId: whitelabelAdminRestoreOrganization
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}/projects:
    post:
      summary: White Label Admin - Create a new organization project
      description: White label admin only API to create a new project for an organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminCreateOrganizationProject
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateProjectRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProjectResponse'
  /api/organizations/{organizationId}/whitelabel/organizations/{innerOrganizationId}/jobs:
    get:
      summary: White Label Admin - Get organization jobs
      description: White label admin only API to get the list of all jobs for a organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationRequiresWhitelabelAdmin
      operationId: whitelabelAdminGetOrganizationJobs
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/InnerOrganizationIdParameter'
      - $ref: '#/components/parameters/LimitResultsParameter'
      - $ref: '#/components/parameters/OffsetResultsParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
  /api/organizations/{organizationId}/logo:
    post:
      summary: Upload organization logo
      description: Uploads and updates the organization logo
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: uploadOrganizationLogo
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadAssetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadAssetResponse'
  /api/organizations/{organizationId}/header:
    post:
      summary: Upload organization header image
      description: Uploads and updates the organization header image
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: uploadOrganizationHeader
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadAssetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadAssetResponse'
  /api/organizations/{organizationId}/test-admin:
    get:
      summary: Admin endpoint
      description: Test endpoint that can only be reached with admin rights.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: testOrganizationAdmin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/projects:
    get:
      summary: Get projects
      description: Retrieve all projects for the organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationAllowDeveloperProfile
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: listOrganizationProjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectsResponse'
  /api/organizations/{organizationId}/apikeys:
    get:
      summary: Get API keys
      description: Retrieve all API keys. This does **not** return the full API key, but only a portion (for security purposes).
      tags:
      - Organizations
      x-middleware:
      - OrganizationAllowDeveloperProfile
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: listOrganizationApiKeys
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganizationApiKeysResponse'
    post:
      summary: Add API key
      description: Add an API key.
      tags:
      - Organizations
      x-middleware:
      - OrganizationAllowDeveloperProfile
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: addOrganizationApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrganizationApiKeyRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddApiKeyResponse'
  /api/organizations/{organizationId}/apikeys/{apiKeyId}:
    delete:
      summary: Revoke API key
      description: Revoke an API key.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      - OrganizationAllowDeveloperProfile
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/ApiKeyIdParameter'
      operationId: revokeOrganizationApiKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/members/add:
    post:
      summary: Add member
      description: Add a member to an organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: addOrganizationMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMemberRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCreatedResponse'
  /api/organizations/{organizationId}/members/invite:
    post:
      summary: Invite member
      description: Invite a member to an organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: inviteOrganizationMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteOrganizationMemberRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/members/remove:
    post:
      summary: Remove member
      description: Remove a member from an organization. Note that you cannot invoke this function if only a single member is present to the organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: removeOrganizationMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveMemberRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/members/{memberId}/role:
    post:
      summary: Set member role
      description: Change the role of a member in an organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/MemberIdParameter'
      operationId: setOrganizationMemberRole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMemberRoleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/members/{memberId}/datasets:
    post:
      summary: Set member datasets
      description: Set the datasets a guest member has access to in an organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/MemberIdParameter'
      operationId: setOrganizationMemberDatasets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMemberDatasetsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/members/{memberId}/resend-invite:
    post:
      summary: Resend invitation
      description: Resend an invitation to a member in an organization.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/MemberIdParameter'
      operationId: resendOrganizationMemberInvite
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericApiResponse'
  /api/organizations/{organizationId}/readme/upload-image:
    post:
      summary: Upload image for readme
      description: Uploads an image to the user CDN and returns the path.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      operationId: uploadOrganizationReadmeImage
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadReadmeImageResponse'
  /api/organizations/{organizationId}/exports:
    get:
      summary: Get all organization data exports
      description: Get all data exports for an organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      operationId: getOrganizationDataExports
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/LimitResultsParameter'
      - $ref: '#/components/parameters/OffsetResultsParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationDataExportsResponse'
  /api/organizations/{organizationId}/exports/{exportId}:
    get:
      summary: Get organization data export
      description: Get a data export for an organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      operationId: getOrganizationDataExport
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/ExportIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationDataExportResponse'
  /api/organizations/{organizationId}/exports/{exportId}/download:
    get:
      summary: Download organization data export
      description: Download a data export for an organization.
      tags:
      - Organizations
      x-middleware:
      - OrganizationRequiresAdmin
      operationId: downloadOrganizationDataExport
      parameters:
      - $ref: '#/components/parameters/OrganizationIdParameter'
      - $ref: '#/components/parameters/ExportIdParameter'
      responses:
        '302':
          description: A redirect to the ZIP file
components:
  schemas:
    UpdateWhitelabelDefaultDeploymentTargetRequest:
      type: object
      required:
      - defaultDeploymentTarget
      properties:
        defaultDeploymentTarget:
          type: string
          nullable: true
          description: Name of the default deployment target
          example: C++ library
    EntitlementLimits:
      type: object
      properties:
        totalStorage:
          type: number
          description: Storage entitlement, in bytes
        computeTimePerYear:
          type: number
          description: Total compute time entitlement (CPU + GPU), in seconds
        gpuComputeTimePerYear:
          type: number
          description: GPU compute time entitlement, in seconds
        numberOfProjects:
          type: integer
          description: Number of projects allowed for this organization
        numberOfUsers:
          type: integer
          description: Number of users allowed for this organization
    UpdateWhitelabelDeploymentOptionsOrderRequest:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/DeploymentOptionsOrder'
    DevelopmentBoardRequestUpdate:
      type: object
      properties:
        name:
          type: string
        image:
          type: string
        docsUrl:
          type: string
    Report:
      type: object
      required:
      - id
      - created
      - jobId
      - jobFinished
      - jobFinishedSuccessful
      - reportStartDate
      - reportEndDate
      properties:
        id:
          type: integer
        created:
          type: string
          format: date-time
        createdByUser:
          type: object
          required:
          - id
          - name
          - username
          properties:
            id:
              type: integer
            name:
              type: string
            username:
              type: string
            photo:
              type: string
        jobId:
          type: integer
        jobFinished:
          type: boolean
        jobFinishedSuccessful:
          type: boolean
        downloadLink:
          type: string
        reportStartDate:
          type: string
          format: date-time
        reportEndDate:
          type: string
          format: date-time
    OrganizationDataExport:
      type: object
      required:
      - id
      - created
      - expirationDate
      - jobId
      - jobFinished
      - jobFinishedSuccessful
      properties:
        id:
          type: integer
        created:
          type: string
          format: date-time
        createdByUser:
          type: object
          required:
          - id
          - name
          - username
          properties:
            id:
              type: integer
            name:
              type: string
            username:
              type: string
            photo:
              type: string
        jobId:
          type: integer
        jobFinished:
          type: boolean
        jobFinishedSuccessful:
          type: boolean
        description:
          type: string
          description: Description of the data export
        expirationDate:
          type: string
          format: date-time
          description: Date when the export will expire. Default is 30 days. Maximum expiration date is 60 days from the creation date.
        downloadUrl:
          type: string
    ListJobsResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - jobs
        - totalJobCount
        properties:
          jobs:
            type: array
            description: Active jobs
            items:
              $ref: '#/components/schemas/Job'
          totalJobCount:
            type: integer
    UpdateWhitelabelLearningBlocksRequest:
      type: object
      properties:
        learningBlocks:
          type: array
          description: The types of the learning blocks that are enabled for this whitelabel.
          items:
            type: string
    ProjectCollaborator:
      allOf:
      - $ref: '#/components/schemas/User'
      - type: object
        required:
        - isOwner
        properties:
          isOwner:
            type: boolean
    CreateOrganizationResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - id
        - apiKey
        properties:
          id:
            type: integer
            description: Organization ID for the new organization
          apiKey:
            type: string
            description: API key for the new organization (this is shown only once)
    ApplicationBudget:
      type: object
      description: Specifies limits for your specific application, as available RAM and ROM for the model's operation and the maximum allowed latency.
      properties:
        latencyPerInferenceMs:
          $ref: '#/components/schemas/ResourceRange'
        energyPerInferenceJoules:
          $ref: '#/components/schemas/ResourceRange'
        memoryOverhead:
          $ref: '#/components/schemas/TargetMemory'
    AdminAddProjectUserRequest:
      allOf:
      - $ref: '#/components/schemas/AdminAddUserRequest'
    ModelEngineShortEnum:
      type: string
      enum:
      - tflite-eon
      - tflite-eon-ram-optimized
      - tflite
    WhitelabelAdminCreateOrganizationRequest:
      type: object
      required:
      - organizationName
      properties:
        organizationName:
          type: string
          example: EdgeImpulse Inc.
          description: The name of the organization.
        adminId:
          type: integer
          example: 1
          description: Unique identifier of the administrator of the new organization.
        adminEmail:
          type: string
          example: jan@edgeimpulse.com
          description: Email of the administrator of the new organization.
    UpdateWhitelabelRequest:
      type: object
      description: Only fields set in this object will be updated.
      properties:
        supportedProjectTypes:
          type: array
          items:
            $ref: '#/components/schemas/ProjectType'
    EnterpriseLimitsIncreaseRequest:
      type: object
      required:
      - limits
      properties:
        limits:
          type: array
          items:
            $ref: '#/components/schemas/EnterpriseLimit'
        reason:
          type: string
          description: Additional notes for the request. This is optional.
    DevelopmentBoardResponse:
      type: object
      required:
      - id
      - name
      - image
      - docsUrl
      properties:
        id:
          type: integer
        name:
          type: string
        image:
          type: string
        docsUrl:
          type: string
    EnterpriseLimit:
      type: string
      enum:
      - users
      - projects
      - compute
      - storage
    InviteOrganizationMemberRequest:
      type: object
      required:
      - email
      - role
      - datasets
      properties:
        email:
          type: string
          description: E-mail address
        role:
          $ref: '#/components/schemas/OrganizationMemberRole'
        datasets:
          description: Only used for 'guest' users. Limits the datasets the user has access to.
          type: array
          items:
            type: string
    DeploymentOptionsOrder:
      type: array
      description: Optional attribute allowing a whitelabel to customize the order of deployment options in the deployment view, given as an in-order list of deployment options.
      items:
        type: string
        description: Deployment option name
        example: org-1
    UpdateOrganizationRequest:
      type: object
      description: Only fields set in this object will be updated.
      properties:
        logo:
          type: string
          description: New logo URL, or set to `null` to remove the logo.
        headerImg:
          type: string
          description: New leader image URL, or set to `null` to remove the leader.
        showHeaderImgMask:
          type: boolean
        name:
          type: string
          description: New organization name.
        experiments:
          type: array
          items:
            type: string
        readme:
          type: string
          description: Readme for the organization (in Markdown)
        jobLimitM:
          type: integer
          description: New job limit in seconds.
    AdminGetUserMetricsResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - metrics
        properties:
          metrics:
            type: object
    Organization:
      type: object
      required:
      - id
      - name
      - users
      - isDeveloperProfile
      - whitelabelId
      - trialId
      - trialExpiredDate
      - trialUpgradedDate
      - created
      - showHeaderImgMask
      properties:
        id:
          type: integer
        name:
          type: string
          description: EdgeImpulse Inc.
        logo:
          type: string
          example: https://usercdn.edgeimpulse.com/logos/1.jpg
        headerImg:
          type: string
          example: https://usercdn.edgeimpulse.com/leaders/1.jpg
        showHeaderImgMask:
          type: boolean
        users:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationUser'
        isDeveloperProfile:
          type: boolean
        whitelabelId:
          type: integer
          nullable: true
          description: Unique identifier of the white label this organization belongs to, if any.
        projects:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        trialId:
          type: integer
          nullable: true
          description: Unique identifier of the trial this organization belongs to, if any.
        trialExpiredDate:
          type: string
          format: date-time
          nullable: true
          description: Date when the trial expired, if any. A expired trial has a grace period of 30 days before it's associated organization is deleted.
        trialUpgradedDate:
          type: string
          format: date-time
          nullable: true
          description: Date when the trial was upgraded to a full enterprise account, if any.
        created:
          type: string
          format: date-time
          description: Date when the organization was created.
        contractStartDate:
          type: string
          format: date-time
          nullable: true
          description: Date when the current contract started, if any.
        deletedDate:
          type: string
          format: date-time
          description: The date in which the organization was deleted. If the organization is not deleted, this field is not set.
    ListProjects:
      type: object
      required:
      - projects
      properties:
        projects:
          type: array
          description: Array with projects
          items:
            $ref: '#/components/schemas/Project'
    ProjectInfoResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - project
        - downloads
        - developmentKeys
        - impulse
        - devices
        - dataSummary
        - dataSummaryPerCategory
        - computeTime
        - acquisitionSettings
        - collaborators
        - deploySettings
        - experiments
        - latencyDevices
        - urls
        - showCreateFirstImpulse
        - showGettingStartedWizard
        - performance
        - trainJobNotificationUids
        - dspJobNotificationUids
        - modelTestingJobNotificationUids
        - exportJobNotificationUids
        - hasNewTrainingData
        - studioUrl
        - inPretrainedModelFlow
        - showSensorDataInAcquisitionGraph
        - notifications
        properties:
          project:
            $ref: '#/components/schemas/Project'
          developmentKeys:
            $ref: '#/components/schemas/DevelopmentKeys'
          impulse:
            type: object
            required:
            - created
            - configured
            - complete
            properties:
              created:
                type: boolean
                description: Whether an impulse was created
              configured:
                type: boolean
                description: Whether an impulse was configured
              complete:
                type: boolean
                description: Whether an impulse was fully trained and configured
          devices:
            type: array
            items:
              $ref: '#/components/schemas/Device'
          dataSummary:
            $ref: '#/components/schemas/ProjectDataSummary'
          dataSummaryPerCategory:
            type: object
            required:
            - training
            - testing
            - anomaly
            properties:
              training:
                $ref: '#/components/schemas/ProjectDataSummary'
              testing:
                $ref: '#/components/schemas/ProjectDataSummary'
              anomaly:
                $ref: '#/components/schemas/ProjectDataSummary'
          computeTime:
            type: object
            required:
            - periodStartDate
            - periodEndDate
            - timeUsedMs
            - timeLeftMs
            properties:
              periodStartDate:
                type: string
                format: date-time
                description: Start of the current time period.
              periodEndDate:
                type: string
                format: date-time
                description: End of the current time period. This is the date when the compute time resets again.
              timeUsedMs:
                type: integer
                description: The amount of compute used for the current time period.
              timeLeftMs:
                type: integer
                description: The amount of compute left for the current time period.
          acquisitionSettings:
            type: object
            required:
            - intervalMs
            - lengthMs
            - segmentShift
            - defaultPageSize
            - viewType
            - gridColumnCount
            - gridColumnCountDetailed
            - showExactSampleLength
            - inlineEditBoundingBoxes
            properties:
              intervalMs:
                type: number
                description: Interval during the last acquisition, or the recommended interval based on the data set.
              lengthMs:
                type: integer
                description: Length of the last acquisition, or a recommended interval based on the data set.
              sensor:
                type: string
                description: Sensor that was used during the last acquisition.
              label:
                type: string
                description: Label that was used during the last acquisition.
              segmentLength:
                type: number
                description: Length of the last sample segment after segmenting a larger sample.
              segmentShift:
                type: boolean
                description: Whether to auto-shift segments
              defaultPageSize:
                type: integer
                description: Default page size on data acquisition
              viewType:
                type: string
                description: Default view type on data acquisition
                enum:
                - list
                - grid
              gridColumnCount:
                type: integer
                description: Number of grid columns in non-detailed view
              gridColumnCountDetailed:
                type: integer
                description: Number of grid columns in detailed view
              showExactSampleLength:
                type: boolean
                description: If enabled, does not round sample length to hours/minutes/seconds, but always displays sample length in milliseconds. E.g. instead of 1m 32s, this'll say 92,142ms.
              inlineEditBoundingBoxes:
                type: boolean
                description: If enabled, allows editing bounding box labels directly from the acquisition UI.
          collaborators:
            type: array
            items:
              $ref: '#/components/schemas/User'
          deploySettings:
            type: object
            required:
            - eonCompiler
            - sensor
            - arduinoLibraryName
            - tinkergenLibraryName
            - particleLibraryName
            properties:
              eonCompiler:
                type: boolean
              sensor:
                type: string
                enum:
                - accelerometer
                - microphone
                - camera
                - positional
                - environmental
                - fusion
                - unknown
              arduinoLibraryName:
                type: string
              tinkergenLibraryName:
                type: string
              particleLibraryName:
                type: string
              lastDeployModelEngine:
                type: string
                $ref: '#/components/schemas/ModelEngineShortEnum'
                description: Model engine for last deploy
          experiments:
            type: array
            description: Experiments that the project has access to. Enabling experiments can only be done through a JWT token.
            items:
              type: object
              required:
              - type
              - title
              - enabled
              - showToUser
              properties:
                type:
                  type: string
                title:
                  type: string
                help:
                  type: string
                enabled:
                  type: boolean
                showToUser:
                  type: boolean
          latencyDevices:
            type: array
            items:
              $ref: '#/components/schemas/LatencyDevice'
          urls:
            type: object
            properties:
              mobileClient:
                description: Base URL for the mobile client. If this is undefined then no development API key is set.
                type: string
              mobileClientComputer:
                description: Base URL for collecting data with the mobile client from a computer. If this is undefined then no development API key is set.
                type: string
              mobileClientInference:
                description: Base URL for running inference with the mobile client. If this is undefined then no development API key is set.
                type: string
          showCreateFirstImpulse:
            type: boolean
          showGettingStartedWizard:
            type: object
            required:
            - showWizard
            - step
            properties:
              showWizard:
                type: boolean
              step:
                type: integer
                description: Current step of the getting started wizard
          performance:
            type: object
            required:
            - gpu
            - jobLimitM
            - dspFileSizeMb
            - enterprisePerformance
            - trainJobRamMb
            properties:
              gpu:
                type: boolean
              jobLimitM:
                type: integer
                description: Compute time limit per job in minutes (applies only to DSP and learning jobs).
              dspFileSizeMb:
                type: integer
                description: Maximum size for DSP file output
              enterprisePerformance:
                type: boolean
              trainJobRamMb:
                type: integer
                description: Amount of RAM allocated to training jobs
          readme:
            type: object
            description: Present if a readme is set for this project
            required:
            - markdown
            - html
            properties:
              markdown:
                type: string
              html:
                type: string
          trainJobNotificationUids:
            type: array
            description: The IDs of users who should be notified when a Keras or retrain job is finished.
            items:
              type: integer
          dspJobNotificationUids:
            type: array
            description: The IDs of users who should be notified when a DSP job is finished.
            items:
              type: integer
          modelTestingJobNotificationUids:
            type: array
            description: The IDs of users who should be notified when a model testing job is finished.
            items:
              type: integer
          exportJobNotificationUids:
            type: array
            description: The IDs of users who should be notified when an export job is finished.
            items:
              type: integer
          hasNewTrainingData:
            type: boolean
          csvImportConfig:
            type: object
            description: Config file specifying how to process CSV files.
          studioUrl:
            type: string
          inPretrainedModelFlow:
            type: boolean
          dspPageSize:
            type: integer
          showSensorDataInAcquisitionGraph:
            description: Whether to show the actual sensor data in acquisition charts (only applies when you have structured labels)
            type: boolean
          targetConstraints:
            $ref: '#/components/schemas/TargetConstraints'
          notifications:
            type: array
            description: List of notifications to show within the project
            items:
              type: string
          defaultImpulseId:
            type: integer
            description: Default selected impulse (by ID).
    Device:
      type: object
      required:
      - id
      - deviceId
      - created
      - lastSeen
      - name
      - deviceType
      - sensors
      - remote_mgmt_connected
      - supportsSnapshotStreaming
      - remoteMgmtMode
      properties:
        id:
          type: integer
          example: 1
        deviceId:
          type: string
          description: Unique identifier (such as MAC address) for a device
          example: 38:f9:d3:d7:62:03
        created:
          type: string
          format: date-time
          example: '2019-07-21T17:32:28Z'
        lastSeen:
          type: string
          format: date-time
          example: '2019-08-31T17:32:28Z'
          description: Last message that was received from the device (ignoring keep-alive)
        name:
          type: string
          example: m6d.1 desk sensor
        deviceType:
          type: string
          example: DISCO-L475VG
        sensors:
          type: array
          items:
            type: object
            required:
            - name
            - maxSampleLengthS
            - frequencies
            properties:
              name:
                type: string
                example: Built-in accelerometer
              maxSampleLengthS:
                type: integer
                description: Maximum supported sample length in seconds
              frequencies:
                type: array
                description: Supported frequencies for this sensor in Hz.
                example:
                - 62.5
                - 100
                items:
                  type: number
        remote_mgmt_connected:
          type: boolean
          description: Whether the device is connected to the remote management interface. This property is deprecated, use `remoteMgmtMode` instead.
        remote_mgmt_host:
          type: string
          description: The remote management host that the device is connected to
        supportsSnapshotStreaming:
          type: boolean
        remoteMgmtMode:
          description: Replaces `remote_mgmt_connected`. Shows whether the device is connected to the remote management interface, and in which mode.
          type: string
          enum:
          - disconnected
          - ingestion
          - inference
        inferenceInfo:
          type: object
          description: If `remoteMgmtMode` is set to `inference` this object shows information about the model that's ran on device.
          required:
          - projectId
          - projectOwner
          - projectName
          - deployedVersion
          properties:
            projectId:
              type: integer
            projectOwner:
              type: string
            projectName:
              type: string
            deployedVersion:
              type: integer
            modelType:
              type: string
              enum:
              - classification
              - objectDetection
              - constrainedObjectDetection
    ListOrganizationApiKeysResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - apiKeys
        properties:
          apiKeys:
            type: array
            description: List of API keys.
            items:
              type: object
              required:
              - id
              - name
              - apiKey
              - created
              - role
              - isTransformationJobKey
              properties:
                id:
                  type: integer
                apiKey:
                  type: string
                name:
                  type: string
                created:
                  type: string
                  format: date-time
                role:
                  type: string
                  enum:
                  - admin
                  - member
                isTransformationJobKey:
                  type: boolean
    KerasModelVariantEnum:
      type: string
      enum:
      - int8
      - float32
      - akida
    AdminUpdateUserRequest:
      type: object
      description: Only fields set in this object will be updated.
      properties:
        email:
          type: string
          description: New email. This will also update the forum's email address but the user may need to logout/login back
          example: quijote@lamancha.es
        name:
          type: string
          description: New user full name
          example: Don Quijote de la Mancha
        activated:
          type: boolean
          description: Whether the user is active or not. Can only go from inactive to active.
          example: true
        suspended:
          type: boolean
          description: Whether the user is suspended or not.
          example: false
        jobTitle:
          type: string
          description: New user job title
          example: Knight
        experiments:
          type: array
          items:
            type: string
          description: List of user experiments
    AdminCreateProjectRequest:
      type: object
      required:
      - projectName
      properties:
        projectName:
          type: string
          example: My project
          description: The name of the project.
        projectVisibility:
          $ref: '#/components/schemas/ProjectVisibility'
        ownerId:
          type: integer
          example: 1
          description: Unique identifier of the owner of the new project. Either this parameter or ownerEmail must be set.
        ownerEmail:
          type: string
          example: groucho@marxbros.com
          description: Email of the owner of the new project. Either this parameter or ownerId must be set.
    StartJobResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - id
        properties:
          id:
            type: integer
            description: Job identifier. Status updates will include this identifier.
            example: 12873488112
    AdminGetOrganizationComputeTimeUsageResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - $ref: '#/components/schemas/OrganizationComputeTimeUsage'
    DevelopmentBoardRequest:
      type: object
      required:
      - name
      - image
      - docsUrl
      properties:
        name:
          type: string
        image:
          type: string
        docsUrl:
          type: string
    EnterpriseTrial:
      type: object
      required:
      - id
      - userId
      - created
      - organizationId
      - expirationDate
      - expiredDate
      - deletedDate
      - upgradedDate
      properties:
        id:
          type: integer
          description: Unique identifier of the trial.
        userId:
          type: integer
          description: ID of the user who created the trial.
        organizationId:
          type: integer
          description: ID of the organization created for the trial.
        created:
          type: string
          format: date-time
          description: Date when the trial was created. Trials start immediately on creation.
        expirationDate:
          $ref: '#/components/schemas/TrialExpirationDate'
        notes:
          $ref: '#/components/schemas/TrialNotes'
        expiredDate:
          type: string
          format: date-time
          nullable: true
          description: Date when the trial actually expired. This is set when the trial is expired by the system.
        deletedDate:
          type: string
          format: date-time
          nullable: true
          description: Date when the trial was deleted. This is set when the trial is fully  deleted by the system.
        upgradedDate:
          type: string
          format: date-time
          nullable: true
          description: Date when the trial was upgraded to a full enterprise account.
    AddApiKeyRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Description of the key
        apiKey:
          type: string
          description: 'Optional: API key. This needs to start with `ei_` and will need to be at least 32 characters long. If this field is not passed in, a new API key is generated for you.'
    ProjectDataSummary:
      type: object
      required:
      - totalLengthMs
      - labels
      - dataCount
      properties:
        totalLengthMs:
          type: number
          description: Total length (in ms.) of all data in the training set
          example: '726336'
        labels:
          type: array
          description: Labels in the training set
          items:
            type: string
        dataCount:
          type: integer
          example: Number of files in the training set
    MemorySpec:
      type: object
      description: Describes performance characteristics of a particular memory type
      properties:
        fastBytes:
          $ref: '#/components/schemas/ResourceRange'
        slowBytes:
          $ref: '#/components/schemas/ResourceRange'
    Permission:
      type: string
      enum:
      - admin:infra:disallowedEmailDomains:write
      - admin:infra:featureFlags:read
      - admin:infra:featureFlags:write
      - admin:infra:config:read
      - admin:infra:config:write
      - admin:infra:migrations:read
      - admin:infra:migrations:write
      - admin:metrics:read
      - admin:metrics:write
      - admin:organizations:read
      - admin:organizations:write
      - admin:organizations:members:write
      - admin:projects:members:write
      - admin:projects:read
      - admin:projects:write
      - admin:trials:read
      - admin:trials:write
      - admin:users:permissions:write
      - admin:users:read
      - admin:users:write
      - admin:jobs:read
      - admin:emails:verification:code:read
      - projects:limits:write
      - projects:training:keras:write
      - thirdpartyauth:read
      - thirdpartyauth:write
      - users:emails:read
      - whitelabels:read
      - whitelabels:write
    AdminUpdateOrganizationDataExportRequest:
      type: object
      properties:
        description:
          type: string
          description: Description of the data export
        expirationDate:
          type: string
          format: date-time
          description: Date when the export will expire. Default is 30 days. Maximum expiration date is 60 days from the creation date.
    OrganizationMemberRole:
      type: string
      enum:
      - admin
      - member
      - guest
    Job:
      type: object
      required:
      - id
      - key
      - created
      - category
      - jobNotificationUids
      properties:
        id:
          type: integer
          description: Job id, use this to refer back to the job. The web socket API also uses this ID.
        category:
          type: string
        key:
          type: string
          description: 'External job identifier, this can be used to categorize jobs, and recover job status. E.g. set this to ''keras-192'' for a Keras learning block with ID 192. When a user refreshes the page you can check whether a job is active for this ID and re-attach.

            '
        created:
          type: string
          format: date-time
          description: When the job was created.
        started:
          type: string
          format: date-time
          description: When the job was started.
        finished:
          type: string
          format: date-time
          description: When the job was finished.
        finishedSuccessful:
          type: boolean
          description: Whether the job finished successfully.
        jobNotificationUids:
          type: array
          description: The IDs of users who should be notified when a job is finished.
          items:
            type: integer
        additionalInfo:
          type: string
          description: Additional metadata associated with this job.
        computeTime:
          type: number
          description: Job duration time in seconds from start to finished, measured by k8s job watcher.
        createdByUser:
          type: object
          required:
          - id
          - name
          - username
          properties:
            id:
              type: integer
            name:
              type: string
            username:
              type: string
            photo:
              type: string
        categoryCount:
          type: integer
          description: Some job categories keep a counter on the job number, e.g. in synthetic data, so we know what the 1st, 2nd etc. job was in the UI.
    OrganizationUser:
      allOf:
      - $ref: '#/components/schemas/User'
      - type: object
        required:
        - added
        - role
        - projectCount
        - datasets
        properties:
          added:
            type: string
            format: date-time
            example: '2019-08-31T17:32:28Z'
          role:
            $ref: '#/components/schemas/OrganizationMemberRole'
          projectCount:
            type: integer
          datasets:
            type: array
            items:
              type: string
          lastAccessToOrganization:
            type: string
            format: date-time
            description: Date when the user last accessed the organization data.
          lastOrganizationProjectAccessed:
            type: integer
            description: ID of the last project accessed by the user in the organization.
    AdminGetUserResponse:
      allOf:
      - $ref: '#/components/schemas/GenericApiResponse'
      - type: object
        required:
        - user
        properties:
          user:
            $ref: '#/components/schemas/AdminApiUser'
    TrialNotes:
      type: string
      description: Notes about the trial. Free form text. This field is ignored if the trial is requested by a non-admin user.
      example: This is a trial for the company's new project.
    AdminOrganizationInfoResponse:
      allOf:
[...]
